.contact{
  display:flex;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first_line{
  display:flex;
}

.second_line{
  display:flex;
  justify-content: flex-end;
}

label{
  font-family: dream;
  color:white;
  font-size: 2em;
  margin-right: 0.6em;
}

.message{
  display:flex;
  justify-content: center;
}