@font-face{
  font-family: dream;
  src: url(./Fonts/Dream\ Orphans.woff);
}
@font-face{
  font-family: eurof35;
  src: url(./Fonts/eurof35.ttf);
}
@font-face{
  font-family: marry;
  src:url(./Fonts/marry\ merry.ttf);
}










