.back_contact{
  height:100vh;
  background-image: url('./images/back-contact.jpg');
  background-repeat: no-repeat;
  margin:0;
  padding:0;
  /* overflow: hidden; */
}

.main-contact{
  display:flex;
  flex-direction: column;
  height:calc(100vh - 19.2em);
  /* border: solid 1px white; */
}

h1.contactez{
  font-size:4.5em;
  margin-top: 1.1em;
  margin-bottom: 1em;
}

