.back_contact{
  height:100vh;
  background-image: url('./images/back-contact.jpg');
  background-repeat: no-repeat;
  margin:0;
  padding:0;
  /* overflow: hidden; */
}

.main-contact{
  display:flex;
  flex-direction: column;
  height:calc(100vh - 19.2em);
  /* border: solid 1px white; */
}

h1.contactez{
  font-size:4.5em;
  margin-top: 1.1em;
  margin-bottom: 1em;
}

.form{
  display:flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px white; */
  height:23em;
}

.start-form{
  display:flex;
  justify-content: space-between;
  /* border: solid 1px white; */
  width:58em;
  height:3em;
}

.end-form{
  display:flex;
  justify-content: space-between;
  /* border: solid 1px white; */
  width:58em;
  height:3em;
  margin-top: 1.5em;
}

h4{ 
  color:white;
  font-family: dream;
  font-size: 1.5em;
  /* border: solid 1px white; */
}

label{
  display:flex;
  align-items: center;
  /* border: solid 1px white; */
}



label.prenom{
  display: flex;
  justify-content: flex-start;
  width:27em;
  /* border: solid 1px white; */
}
label.prenom h4{
  margin-top:1.9em;
  width:3.85em;
  text-align: right;
}

input.champ_prenom{
  height:1.6em;
  width:30em;
  font-family: arial;
  font-size: 1.3em;
  padding-left:1em;
  margin-left: 0.6em;
}

label.nom{
  display: flex;
  justify-content: flex-end;
  width:27em;
}
label.nom h4{
  margin-top:1.9em;
}

input.champ_nom{
  height:1.6em;
  width:30em;
  font-family: arial;
  font-size: 1.3em;
  padding-left:1em;
  margin-left: 0.6em;
}

label.email{
  display: flex;
  justify-content: flex-start;
  width:27em;
  /* border: solid 1px white; */
}
label.email h4{
  width:3.85em;
  margin-top:1.9em;
  text-align: right;
}

input.champ_email{
  height:1.6em;
  width:18em;
  font-family: arial;
  font-size: 1.3em;
  padding-left:1em;
  margin-left: 0.6em;
}

label.telephone{
  display: flex;
  justify-content: flex-end;
  width:27em;
}
label.telephone h4{
  margin-top:1.9em;
}

input.champ_tel{
  height:1.6em;
  width:16.55em;
  font-family: arial;
  font-size: 1.3em;
  padding-left:1em;
  margin-left: 0.9em;
}

label.message{
  display: flex;
  justify-content: flex-start;
  width:60em;
  height:7em;
  margin-top: 1.5em;
  margin-left: 0.5em;;
  /* border:solid 1px white; */
}
label.message h4{
  margin-top:4.5em;
}

input.champ_message{
  height:5em;
  width:39em;
  font-family: arial;
  font-size: 1.3em;
  margin-left: 0.6em;
  padding-left:1em;
}

input.envoyer{
  background-color: rgb(71,85,94);
  color: white;
  width:7em;
  height:3em;
  margin-top: 2em;
  
  /* border: solid 1px white; */
}
button.envoyer:hover{
  cursor:pointer;
  box-shadow: 0px 0px 60px  rgb(0,0,0);
}


p.obligatoire{
  font-family: arial;
  font-size: 0.8em;
  /* border: solid 1px white; */
}